
{% block content %}
<center>
<section id="details">
	<div class="container">
		<div class="row mt-3">
			<div class="col text-center">
			<h1>Title of post {{id}}</h1>
			<h1 style="color: green;font-style: italic;">Details of the Students</h1>
			<hr>
			<p><h2><b>
				Name:{{ category.name }} </br></br></br>
				Email:{{ category.email }} </br></br></br>
				Ph.No:{{ category.ph }}</br></br></br>
				State:{{ category.state }}</br></br></br>
				Address:{{ category.address }}</br></br></br>
				Gender:{{ category.gender }}</br></br></br>
			</p></h2></b>
			
			
				
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}